{% extends 'base/base2.html' %}

{% block content %}
{% for message in messages %}
    <strong><i style="color: green;">{{message}}</i></strong>
{% endfor %} 

<h2>Register Here</h2><br>

<form action="/signup" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <center>
        <!-- <style>
            .avatar {
              vertical-align: middle;
              width: 100px;
              height: 100px;
              border-radius: 50%;
            }
            </style> -->
        <legend>Enter your personal information:</legend>
        <br><br><br>
        <img src="" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload" required>
        {% if form.photo.errors %}
        {% for error in form.photo.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
    </center>
        <br><br><br>
        <label for="{{ form.username }}">Username:</label>
         <input type="text" name="{{ form.username }}" placeholder="username" checked required>
        <br><br>
        <label for="{{ form.first_name }}">First Name:</label>
        <input type="text" name="{{ form.first_name }}" placeholder="first name" checked required>
        <br><br>
        <label for="{{ form.last_name }}">Last Name:</label>
        <input type="text" name="{{ form.last_name }}" placeholder="last name" required>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" name="{{ form.email }}" placeholder="your email" required>
        <br><br>
        <label for="age">Age:</label>
        <input type="number" name="{{ form.age }}" placeholder="your age" required>
        <br><br>
        <select id="country-select" name="{{ form.country.name }}">
            <option value="all">Select country</option>
            {% for code, name in form.country.field.choices %}
            <option value="{{ code }}">{{ name }}</option>
            {% endfor %}
          </select>
        <br><br>
        <label for="city">City:</label>
        <input type="text" name="{{ form.city }}" placeholder="your city">
        <br><br>
        <label for="zip_code">Zip Code:</label>
        <input type="zip_code" name="{{ form.zip_code }}" placeholder="zip code" optional>
        <br><br>
        <label for="phone_number">Phone Number:</label>
        <input type="tel" name="phone_number" id="phone_number" placeholder="Enter your phone number here" maxlength="17" required>
        {% if form.phone_number.errors %}
          {% for error in form.phone_number.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endif %}
       <br><br>
      <label for="genre">Gender:</label>
      <input type="radio" name="genre" id="genre" value="M" required> Male
      <input type="radio" name="genre" id="genre" value="F" required> Female
      {% if form.genre.errors %}
      {% for error in form.genre.errors %}
      <p>{{ error }}</p>
      {% endfor %}
      {% endif %}
      <br><br>
        <label for="password">Password:</label>
       <input type="password" name=" {{ form.password }}" placeholder="Create password" required>
        <br><br>
        <label for="{{ form.comfirmpwd }}">Comfirm Password:</label>
        <input type="password" name="{{ form.comfirmpwd }}" id="" placeholder="Confirm password" required>
        <br><br>
        <input type="checkbox" name="terms_accepted" id="terms_accepted" required>
        <label for="terms_accepted">I accept <a href="#">terms conditions</a></label>
      {% if form.terms_accepted.errors %}
      {% for error in form.terms_accepted.errors %}
      <p>{{ error }}</p>
      {% endfor %}
      {% endif %}
      <br><br>
      <h5><a href="{% url 'password_reset' %}">Reset password</a></h5>
        <button type="submit">Sign Up</button>     
    </form>
    
    {% endblock %}

    <!-- <fieldset data-role="controlgroup">
        <legend>Choose as many favorite colors as you'd like:</legend>
          <label for="red">Red</label>
          <input type="checkbox" name="favcolor" id="red" value="red" checked>
          <label for="green">Green</label>
          <input type="checkbox" name="favcolor" id="green" value="green">
          <label for="blue">Blue</label>
          <input type="checkbox" name="favcolor" id="blue" value="blue" checked>
      </fieldset> -->